/* https://www.tabeladecores.org/cores-html.php */
/* Estilo para o corpo do documento */
body {
    font-family: Verdana, sans-serif; /* Define a fonte utilizada para o texto do corpo */
    margin: 0; /* Remove as margens padrão do corpo do documento */
    padding: 0; /* Remove o preenchimento padrão do corpo do documento */
	background-color: Snow;
}

/* Estilo para o cabeçalho */
header {
    background-color: DarkSlateGray; /* Define a cor de fundo do cabeçalho */
    color: Darkgrey; /* Define a cor do texto do cabeçalho */
    padding: 20px; /* Adiciona preenchimento interno ao cabeçalho */
    display: flex; /* Utiliza o modelo de layout flexível */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-between; /* Distribui os itens horizontalmente */
}

/* Estilo para os ícones de redes sociais */
.social-icons {
    display: flex; /* Utiliza o modelo de layout flexível */
}

.social-icons a {
    color: Darkgrey; /* Define a cor dos ícones */
    margin-right: 20px; /* Adiciona margem à direita entre os ícones */
}

.social-icons a:hover {
    color: yellow; /* Define a cor dos ícones */
}

/* Estilo para a foto de perfil */
.profile-picture {
    margin-right: 20px; /* Adiciona margem à direita da foto de perfil */
}

.profile-picture img {
    width: 150px; /* Define a largura da imagem de perfil */
    height: 150px; /* Define a altura da imagem de perfil */
    border-radius: 50%; /* Torna a imagem de perfil redonda */
}

/* Estilo para a navegação */
nav ul {
    list-style-type: none; /* Remove os marcadores padrão da lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
    display: flex; /* Utiliza o modelo de layout flexível */
}

nav ul li {
    margin-right: 20px; /* Adiciona margem à direita entre os itens de lista */
}

nav ul li a {
    color: Darkgrey; /* Define a cor dos links de navegação */
    text-decoration: none; /* Remove a decoração de sublinhado dos links de navegação */
}

nav ul li a:hover {
    color: yellow; /* Define a cor dos ícones */
}

/* Estilo para o conteúdo */
.container {
    display: flex; /* Utiliza o modelo de layout flexível */
    justify-content: space-between; /* Distribui os itens horizontalmente */
    padding: 20px; /* Adiciona preenchimento interno */
}

.coluna {
    width: 98%; /* Define a largura das colunas */
	margin-left: 20px; /* Adiciona margem esquerda */
	margin-top: 10px; /* Adiciona margem superior */
	margin-bottom: 0px; /* Adiciona margem inferior às seções */
}

.coluna-esquerda,
.coluna-direita {
    width: 48%; /* Define a largura das colunas */
}

/* Estilo para as seções */
section {
    padding: 20px; /* Adiciona preenchimento interno às seções */
    margin-bottom: 10px; /* Adiciona margem inferior às seções */
    background-color: WhiteSmoke; /* Define a cor de fundo das seções */
}

section h2 {
    margin-top: 0; /* Remove a margem superior do título da seção */
}

/* Estilo para os links */
a {
    color: inherit; /* Define a cor padrão dos links */
    text-decoration: none; /* Remove a decoração de sublinhado padrão dos links */
}

/* Estilo para os links quando estão no estado hover (sobre) */
a:hover {
    color: orange; /* Define a cor dos links para amarelo quando estão em estado hover */
}

/* Estilo para os links visitados */
a:visited {
    color: darkgray; /* Define a cor dos links visitados para cinza escuro */
}


/* Estilo para o rodapé */
footer {
    background-color: DarkSlateGray; /* Define a cor de fundo do rodapé */
    color: white; /* Define a cor do texto do rodapé */
    padding: 10px; /* Adiciona preenchimento interno ao rodapé */
    text-align: center; /* Alinha o texto ao centro */
}